<!-- app/templates/_side_menu.html -->
<div class="d-flex flex-column h-100 p-3">
    <div class="mb-4 d-flex align-items-center">
        <a href="/"
            class="d-flex align-items-center text-dark text-decoration-none justify-content-center justify-content-md-start"
            style="font-size: 1.2rem;font-weight: 600;">
            Purpose Quest
        </a>
    </div>

    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/dashboard" class="nav-link {% if request.url.path == '/dashboard' %}active{% endif %}"
                id="nav-dashboard">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/journal/today" class="nav-link {% if request.url.path == '/journal/today' %}active{% endif %}"
                id="nav-journal">
                {% if has_today_entry %}Today’s Entry{% else %}New Entry{% endif %}
            </a>
        </li>
        <li>
            <a href="/journal/archive" class="nav-link {% if request.url.path == '/journal/archive' %}active{% endif %}"
                id="nav-archive">
                Journal
            </a>
        </li>
        <!-- <li>
            <a href="/assistant" class="nav-link {% if request.url.path.startswith('/assistant') %}active{% endif %}"
                id="nav-assistant">
                AI Assistant
            </a>
        </li> -->
        <li>
            <a href="/account-settings"
                class="nav-link {% if request.url.path.startswith('/account-settings') %}active{% endif %}"
                id="nav-settings">
                Settings
            </a>
        </li>
    </ul>

    <div class="mt-auto">
        <div class="btn align-items-center justify-content-center" id="LogoutBtnCont">
            <a href="/auth/sign_out" class="link-custom" id="LogoutBtn">
                <i class="material-icons custom-icon icon">logout</i>
            </a>
        </div>
    </div>
</div>