<!DOCTYPE html>
<html>

<head>
    {% include '_common_head.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Arnout Ulenberg">
    <meta name="Contact Purpose Quest" content="Purpose Quest 0.1">
    <title>Purpose Quest - Contact</title>

</head>

<body class="d-flex flex-column min-vh-100">
    {% include 'header.html' %}

    <div class="flex-grow-1 d-flex justify-content-center align-items-center">
            <div class="text-center" style="width: 18rem;">
                <section>
                    <img class="img-fluid rounded report-img product-cover pb-4" src="/static/images/success.png">
                    <h1 id="status-message">Contact Us</h1>
                    <p id="status-description">If there's anything you want to discuss, have questions or concerns about, or just want to send a message, please reach out to <a href="mailto:info@purpose-quest.com"> info@purpose-quest.com</a></p>
                </div>
            </div>
    </div>
    {% include 'account_footer.html' %}
</body>


</html>