<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Arnout Ulenberg">
  <meta name="Reset Password Habit Hero" content="Habit Hero 0.1">
  <meta name="description" content="">
  <title>Reset Password</title>

  {%include '_common_head.html'%}


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .form-signin input[type="password"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0em;
      border-bottom-left-radius: 0em;
      border-top-right-radius: 0em;
      border-top-left-radius: 0em;
    }

    #floatingPassword {
      margin-bottom: -1px;
      border-top-right-radius: 0.4em;
      border-top-left-radius: 0.4em;
    }

    #floatingPasswordCheck {
      border-bottom-right-radius: 0.4em;
      border-bottom-left-radius: 0.4em;

    }
  </style>


  <!-- Custom styles for this template -->
</head>

<body class="d-flex flex-column min-vh-100">
  {%include 'header.html'%}

  <main class="form-signin text-center">
    <form id="loginForm">
      <div class=" d-md-flex d-lg-flex col-12 mb-2">
        <img class="d-flex text-dark text-decoration-none mx-auto" src="..\static\images\cta_2.png" alt="Icon"
          style="height: 60px; margin-right: 10px;" />
      </div>
      <h1 class="h3 mb-3 fw-normal">Reset password</h1>

      <div class="form-floating has-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="">
        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password123&"
          required>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating has-tooltip " data-bs-toggle="tooltip" data-bs-placement="right" title="">
        <input type="password" class="form-control" name="password-check" id="floatingPasswordCheck" placeholder=""
          required>
        <label for="floatingPasswordCheck">Repeat password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary my-2" type="submit">Reset Password</button>
    </form>
    <div id="errorMessage" class="alert alert-danger" role="alert" style="display:none;"></div>
    <div id="successMessage" class="alert alert-success" role="alert" style="display:none;"></div>



  </main>
  {%include 'account_footer.html'%}

  <script type="module">

    import { getCookie, displayAuthMessage, clearErrSucMessages } from "../static/js/login_reg_utils.js"
    import { setupInputListeners, initializeTooltips, hideTooltipOnInput } from "../static/js/utils.js"
    import { activateLoader } from "../static/js/addLoader.js"

    function validateFormAndSubmit(formId, successCallback, errorCallback) {
      clearErrSucMessages();

      const form = document.getElementById(formId);
      const submitBtn = form.querySelector('.btn-primary'); // Assuming there's only one primary button per form

      form.addEventListener('submit', function (event) {
        event.preventDefault();

        // Password complexity validation
        var passwordInput = document.getElementById('floatingPassword');
        if (!/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,}/.test(passwordInput.value)) {
          // Update tooltip title for password validation
          passwordInput.setAttribute('title', 'Password must contain at least one number, one lowercase and one uppercase letter, one special character, and be at least 6 characters long.');
          // Initialize or update the tooltip
          var tooltip = bootstrap.Tooltip.getInstance(passwordInput) || new bootstrap.Tooltip(passwordInput);
          tooltip.show();
          return;
        } else {
          // Ensure the tooltip is not shown if the validation passes
          var tooltip = bootstrap.Tooltip.getInstance(passwordInput);
          if (tooltip) {
            tooltip.hide();
          }
          // Clear the title attribute to avoid old messages being shown
          passwordInput.setAttribute('title', '');
        }

        var passwordInputCheck = document.getElementById('floatingPasswordCheck');
        if (passwordInputCheck.value != passwordInput.value) {
          passwordInputCheck.setAttribute('title', 'Please make sure both passwords match');

          var tooltip = bootstrap.Tooltip.getInstance(passwordInputCheck) || new bootstrap.Tooltip(passwordInputCheck);
          tooltip.show();
          return;
        } else {
          // Ensure the tooltip is not shown if the validation passes
          var tooltip = bootstrap.Tooltip.getInstance(passwordInputCheck);
          if (tooltip) {
            tooltip.hide();
          }
          // Clear the title attribute to avoid old messages being shown
          passwordInputCheck.setAttribute('title', '');
        }

        // Activate the loader
        activateLoader(submitBtn);

        // Proceed with fetch if validations pass
        fetch('/auth/password_reset', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include', // Needed to include cookies with the request
          body: JSON.stringify({ new_password: passwordInput.value })
        })
          .then(response => response.json())
          .then(data => {
            if (data.status === "success") {
              // Display success message then redirect
              document.getElementById('successMessage').innerText = data.message;
              document.getElementById('successMessage').style.display = 'block';
              setTimeout(() => {
                window.location.href = '/dashboard';
              }, 500); // Redirect after 0.5 seconds
            } else {
              const errorElement = document.getElementById('errorMessage');
              if (errorElement) { // Check if the element exists
                errorElement.innerText = data.message || 'An error occurred.';
                errorElement.style.display = 'block';
              }
            }
          })
          .catch((error) => {
            console.error('Error:', error);
            const errorElement = document.getElementById('errorMessage');
            if (errorElement) { // Check if the element exists
              errorElement.innerText = 'Password reset failed. Please try again.';
              errorElement.style.display = 'block';
            }
          });
      });
    }

    document.addEventListener('DOMContentLoaded', function () {
      displayAuthMessage();
      initializeTooltips();
      setupInputListeners();
      validateFormAndSubmit('loginForm', (data) => {
        document.getElementById('successMessage').innerText = data.message;
        document.getElementById('successMessage').style.display = 'block';
        setTimeout(() => { window.location.href = '/dashboard'; }, 500);
      }, (errorMessage) => {
        document.getElementById('errorMessage').innerText = errorMessage;
        document.getElementById('errorMessage').style.display = 'block';
      });
    });
  </script>
</body>

</html>