<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Purpose Quest</title>
    {% include '_common_head.html' %}
</head>

<body class="d-flex flex-column min-vh-100">
    {% include 'header.html' %}
    <div class="flex-grow-1 d-flex justify-content-center align-items-center">
        <div class="text-center" style="width: 18rem;">
            <section>
                <img class="img-fluid rounded report-img product-cover pb-4" src="/static/images/welcome.png">
                <h1>Welcome to Purpose Quest!</h1>
                <p>Ready to dive deep?</p>
                <div id="dynamicMessage" style="display: none;"></div>
                
            </section>
        </div>
    </div>

    <script type="module">
        import { stripe } from '/static/js/_jsEnv.js';
        import { handlePurchase } from '/static/js/handlePurchase.js';
    
        document.addEventListener('DOMContentLoaded', function () {
            const dynamicMessageDiv = document.getElementById('dynamicMessage');
    
            try {
                const intendedProduct = JSON.parse(localStorage.getItem('intendedProduct'));
    
                if (intendedProduct && intendedProduct.product_id && intendedProduct.name && intendedProduct.price && intendedProduct.price_id && intendedProduct.product_slug) {
                    dynamicMessageDiv.textContent = 'Redirecting you to checkout shortly...';
                    dynamicMessageDiv.style.display = 'block';
    
                    setTimeout(() => {
                        handlePurchase(
                            intendedProduct.product_id,
                            intendedProduct.name,
                            intendedProduct.price,
                            intendedProduct.price_id,
                            intendedProduct.product_slug,
                            stripe
                        );
                        localStorage.removeItem('intendedProduct');
                    }, 1000);
                } else {
                    throw new Error('Invalid intendedProduct object');
                }
            } catch (error) {
                console.error(error);  // Optionally log the error
                dynamicMessageDiv.textContent = 'Taking you to your account shortly...';
                dynamicMessageDiv.style.display = 'block';
    
                setTimeout(() => {
                    window.location.href = "/account";
                }, 1000);
            }
        });
    </script>
    {% include 'account_footer.html' %}
    

</body>

</html>